* {
    user-select: none;
}

.title {
    font-weight: bold;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    object-fit: cover;
    background-image: url(image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.card-group {
    border-color: rgb(255, 255, 255);
}

.card {
    background-color: rgba(44, 44, 44, 0.2);
    margin-top: 5%;
    height: 0.5fr;
    height: 1fr !important;
}

.dice-card {
    background-color: rgba(44, 44, 44, 0);
}

.card-height {
    height: 1fr;
    text-align: center;
}

.dice {
    font-size: 100px;
}

.btn:hover {
    background-color: rgb(138, 138, 138);
}

.reload {
    background-color: rgb(76, 43, 199);
    margin-top: 10px;
}

.reload:hover {
    background-color: rgb(121, 175, 255);
}
